@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,600;0,800;1,500;1,600;1,800&display=swap');

* {
	margin: 0;
	padding: 0;
}

body {
	color: #e5e5e5;
	background-color: #0f1114;
	font-family: 'Montserrat', sans-serif;
}

#header {
	background-color: #090a0c;
	padding: 15px;
	text-align: center;
	margin: 10px;
	border-radius: 25px;
	margin-bottom: 20px;
}

#header-links {
	list-style-type: none;
}

#header-links li {
	display: inline;
	margin: 5px;
}

.default-block {
	background-color: #1b2025;
	border-radius: 25px;
	padding: 20px;
	margin: 10px;
	margin-top: 0;
}

.main-links {
	text-decoration: none;
	color: #ff7b00;
}

.main-links:hover {
	text-decoration: underline;
}

#footer {
	background-color: #090a0c;
	padding: 15px;
	text-align: center;
	margin: 10px;
	border-radius: 25px;
	margin-top: 20px;
}

/*
------------------
 Главная страница
------------------
*/

#welcome {
	background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTK0OEBwdGrOPWafoS0-fy_ENQTYX3RQTti16rWHNI7&s') no-repeat;
	background-size: cover;
	background-position: center;
	padding: 30px;
	padding-left: 20px;
	line-height: 40px;
}

.welcome-text {
	color: #dfdfdf;
	text-shadow: #090a0c 0 0 20px;
}

#about span {
	font-size: 20px;
}

#about h1 {
	margin-bottom: 15px;
}

#members-list {
	background-color: #15191d;
	text-align: center;
	margin: 0 auto;
}

.members-img {
	width: 200px;
	border-radius: 20px;
}

#sky_block {
	display: inline-block;
	margin: 10px;
}

#yohan_block {
	display: inline-block;
	margin: 10px;
}

#ponedy_block {
	display: inline-block;
	margin: 10px;
}

.contact-block {
	background-color: #15191d;
	border-radius: 25px;
	padding: 20px;
	margin: 10px;
	margin-top: 0;
	text-align: center;
}
